.estados {
    vertical-align: baseline;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    outline: 0px;
    overflow: hidden;
}

.div-tags {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}

.ul-tags {
    font-size: 100%;
    display: block;
    height: 30px;
    margin: 0px 0px -1px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}

.li-tags-1 {
    background-color: rgb(234, 234, 234);
    float: left;
    height: 30px;
    box-sizing: border-box;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(234, 234, 234);
    border-image: initial;
    border-bottom: 1px solid rgb(234, 234, 234);
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
}

.h2-tags-1 {
    color: rgb(51, 51, 51);
    display: block;
    line-height: 12px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 10px;
}

.escolher-estado {
    float: left;
    text-indent: -9999px;
    width: 194px;
    height: 30px;
    box-sizing: border-box;
    background: url('../img/escolhaobairro.png') 0px 10px no-repeat transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    margin: -5px 5px 0px;
    overflow: hidden;
    text-decoration: none !important;
}


user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.div-tags::after {
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
    border-top-right-radius: 3px;
    content: " ";
    display: block;
    height: 3px;
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    overflow: hidden;
}

.div-listaestados {
    background-color: rgb(234, 234, 234);
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    padding: 10px;
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.div-estados {
    float: left;
    overflow: hidden;
    padding: 0px;
}

.ul-estados {
    float: left;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    list-style: none none;
}

.li-estados {
    display: block;
    float: none;
    line-height: 14.004px;
    font-weight: 400;
    min-width: 160px;
    margin: 0px 0px 5px;
    overflow: hidden;
}

.a-estados {
    color: rgb(51, 136, 187);
    font-size: 12px;
    font-weight: 700;
    font-family: Arial;
    cursor: pointer;
    text-decoration: none;
}

.li-tags-2 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-family: Arial;
    height: 30px;
    line-height: 30px;
    float: left;
    box-sizing: border-box;
    list-style-type: none;
    background: 0px 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    margin: 0px 5px;
    outline: 0px;
}

.li-tags-3 {
    background-color: rgb(234, 234, 234);
    float: left;
    height: 30px;
    box-sizing: border-box;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
    border-bottom: 1px solid rgb(234, 234, 234);
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
}

.h2-tags-3 {
    color: rgb(51, 51, 51);
    display: block;
    line-height: 12px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 10px;
}