
.navbar-trans {
    background-color: #000000;
}

.navbar-reduce .btn-custom-nav {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
}

.btn-custom-nav {
    color: #ffffff !important;
    background-color: transparent !important;
    border-color: #ffffff !important;
}

    .btn-custom-nav:hover {
        color: #ffffff !important;
        background-color: #3a3a3a;
        border-color: #3a3a3a;
    }

._2M3liH3, ._7whb8LH, .label_cliente, .div_usuarios {
    width: 100%;
}

._2M3liH3 {
    display: block;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 24px 0;
    cursor: pointer;
}

.label_cliente {
    display: block;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 10px 0;
    cursor: pointer;
}

._1Yrs3XI {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}



input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}


._1Yrs3XI:checked ~ ._2Vob8qe, ._2M3liH3:hover ._2Vob8qe, .label_cliente:hover ._2Vob8qe {
    opacity: 1;
}

._2Vob8qe {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -16px;
    bottom: 0;
    left: -16px;
    transition: opacity .2s cubic-bezier(.2,0,.4,1);
    border-radius: 8px;
    opacity: 0;
    background-color: #fafafa;
    will-change: opacity;
}

._1lQ6ZI8 {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #333;
    font-size: 28px;
}

._2LoZB5t, ._2LoZB5t svg {
    display: block;
    width: 1em;
    height: 1em;
}

    ._2LoZB5t svg {
        background-color: transparent;
        fill: currentColor;
        font-size: inherit;
        vertical-align: middle;
    }

    ._2LoZB5t, ._2LoZB5t svg {
        display: block;
        width: 1em;
        height: 1em;
    }

._1e3Mlof {
    position: relative;
    z-index: 2;
    width: calc(100% - 112px);
    margin-left: 16px;
    float: left;
}

._1RTPTmb {
    margin: 0 0 8px;
    color: #202125;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}


user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.rIv8-2r {
    max-width: 240px;
    margin: 0;
    opacity: .6;
    color: #202125;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

*, :after, :before {
    box-sizing: border-box;
}


._2b72F_h {
    position: relative;
    z-index: 2;
    align-self: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    float: left;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    background-color: #fff;
}

._1Yrs3XI:checked ~ ._2b72F_h ._32gZJpE {
    opacity: 1;
}

._32gZJpE {
    display: flex;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    align-items: center;
    justify-content: center;
    transition: opacity .2s cubic-bezier(.2,0,.4,1);
    border-radius: 50%;
    opacity: 0;
    background-color: #202125;
    color: #fff;
    font-size: 16px;
    will-change: opacity;
}

._2LoZB5t, ._2LoZB5t svg {
    display: block;
    width: 1em;
    height: 1em;
}


user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}

._2LoZB5t svg {
    background-color: transparent;
    fill: currentColor;
    font-size: inherit;
    vertical-align: middle;
}

._2LoZB5t, ._2LoZB5t svg {
    display: block;
    width: 1em;
    height: 1em;
}

._1ise3tc {
    width: 100%;
}

._3lTVwuK {
    margin: 0 0 8px;
    color: #1c1c1c;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

/* BOTÃO */
._31AJOZx {
    max-width: 200px;
    margin: 32px 0;
    transition: opacity .2s cubic-bezier(.2,0,.4,1);
    opacity: 1;
    will-change: opacity;
}

._1zWlWBh {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-height: 50px;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border: 0;
    background-color: #ff4848;
    color: #fff;
}


._2KPTd0z {
    padding: 20px 30px;
    float: left;
    transition: color .2s cubic-bezier(.2,0,.4,1),font-weight .2s cubic-bezier(.2,0,.4,1);
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: #797979;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

._1F-ZHsm {
    color: #202125;
    font-weight: 600;
}

._3N8bW_w {
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fafafa;
}




/*************************************************/

.navbar-trans {
    background-color: #000000;
}

.navbar-reduce .btn-custom-nav {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
}

.btn-custom-nav {
    color: #ffffff !important;
    background-color: transparent !important;
    border-color: #ffffff !important;
}

    .btn-custom-nav:hover {
        color: #ffffff !important;
        background-color: #3a3a3a;
        border-color: #3a3a3a;
    }

.input_usuarios {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}


.div_icone {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #333;
    font-size: 28px;
}


.div_descricao {
    position: relative;
    z-index: 2;
    width: calc(100% - 112px);
    margin-left: 16px;
    float: left;
}

.div_h2_descricao {
    margin: 0 0 8px;
    color: #202125;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}


.div_p_descricao {
    max-width: 240px;
    margin: 0;
    opacity: .6;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.div_radio {
    position: relative;
    z-index: 2;
    align-self: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    float: left;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    background-color: #fff;
}

.input_usuarios:checked ~ .div_radio .span_radio {
    opacity: 1;
}

.span_radio {
    display: flex;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    align-items: center;
    justify-content: center;
    transition: opacity .2s cubic-bezier(.2,0,.4,1);
    border-radius: 50%;
    opacity: 0;
    background-color: #fff;
    color: #202125;
    font-size: 16px;
    will-change: opacity;
}

.svg_icone, .svg_icone svg {
    display: block;
    width: 1em;
    height: 1em;
}

    .svg_icone svg {
        background-color: transparent;
        fill: currentColor;
        font-size: inherit;
        vertical-align: middle;
    }

.titulo_h1 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}


.cadastro-custom-scroll {
    height: 630px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}


@media screen and (min-width: 1424px) {
    .cadastro-custom-scroll {
        height: 700px;
    }
}


@media screen and (min-width: 1624px) {
    .cadastro-custom-scroll {
        height: 800px;
    }
}

@media screen and (min-width: 1824px) {
    .cadastro-custom-scroll {
        height: 930px;
    }
}

@media screen and (max-width: 924px) {
    .cadastro-custom-scroll {
        height: auto;
    }
}
